services:
  db:
    image: "mysql:8"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=no_snitch
      - MYSQL_USER=salsero
      - MYSQL_PASSWORD=badpassword
    volumes:
      - ./data/:/var/lib/mysql
    ports:
      - "3306:3306"
  bot:
    image: python:3.12
    build: .
    shm_size: 2gb
    command: ["python", "/app/main.py"]
    depends_on:
      - db