appName: snitch
logLevel: WARN

bot:
  token: TOKEN
  adminChatId: CHAT_ID

mysql:
  host: XXX
  user: XXX
  password: XXX
  db: XXX
  ca_location: ""

discord:
  host: "localhost"
  port: "8081"
  gifPath: 

common:
  noLinkMessage: 